<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.project.farmhelp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmHelp">
        <activity
            android:name=".youroffers.DisplayReceivedRequest"
            android:exported="false" />
        <activity
            android:name=".getservice.DisplayServiceDetails"
            android:exported="false" />
        <activity
            android:name=".provideservice.YouAreNotProvidingService"
            android:exported="false"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserDashboard" />
        </activity>
        <activity
            android:name=".provideservice.AddService"
            android:exported="false"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserDashboard" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${KEY}" />

        <activity android:name=".GoogleMapActivity" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".authentication.OtpPage" />
        <activity
            android:name=".authentication.SignUp"
            android:parentActivityName=".authentication.SignIn" />
        <activity android:name=".authentication.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>